/* .card {
  width: 300px;
  border: 1px solid #5a5858;
  border-radius: 5px;
  text-align: center;
  font-family: "Arial", sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info {
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.tag,
.location {
  color: #777;
  margin: 5px 0;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  border-top: 1px solid #e0e0e0;
  list-style-type: none;
}

.item {
  flex: 1;

  padding: 10px 0;
  border-right: 1px solid #e0e0e0;
}

.item:last-child {
  border-right: none;
}

.label {
  display: block;
  color: #777;
  margin-bottom: 5px;
}

.value {
  font-size: 16px;
  font-weight: bold;
  color: #333;
} */

.card {
  width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  font-family: "Arial", sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

.info {
  padding: 30px 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.tag {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.location {
  font-size: 14px;
  color: #999;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-top: 1px solid #e0e0e0;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  flex: 1;
  padding: 15px 0;
  border-right: 1px solid #e0e0e0;
  text-align: center;
}

.item:last-child {
  border-right: none;
}

.label {
  display: block;
  color: #888;
  margin-bottom: 5px;
  font-size: 14px;
}

.value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
