.item {
  width: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.item:hover {
  background-color: #f0f0f0;
}

.name {
  font-size: 16px;
  color: #2e2f42;
  margin-bottom: 0px;
}

.online,
.offline {
  margin-top: 8px;
  font-size: 8px;
}

.online {
  color: rgb(77, 122, 9);
}

.offline {
  color: rgb(175, 4, 4);
}
